<div class="grow primary">
    <div class="flexColumn">
        <div class="grow"></div>
        <div class="shrink">
            <div class="flexRow">
                <div class="grow"></div>
                <div class="shrink">
                    <div class="flexColumn">
                        <div class="shrink pb10">
                            <div class="flexRow">
                                <div class="grow"></div>
                                <div class="shrink">
                                    <div class="flexColumn">
                                        <!-- <div class="shrink white-text f20 center" style="font-weight: 600;" >
                                            GIRL MATH
                                        </div>
                                        <div class="shrink white-text f30" style="font-weight: 600;" >
                                            WAREHOUSE
                                        </div>                                         -->
                                        <img height="100" class="loginLogo" src="assets/applogo.png" alt="">
                                    </div>
                                </div>
                                <div class="grow"></div>
                            </div>
                        </div>
                        <!-- <div class="shrink">
                            <div class="flexRow">
                                <div class="grow"></div>
                                <div class="shrink" style="padding-bottom: 25px;">
                                    <img height="100" class="loginLogo" src="assets/appicon.jpg" alt="">
                                </div>
                                <div class="grow"></div>
                            </div>
                        </div> -->
                        <div class="shrink">
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input [(ngModel)]="Email" type="email" matInput placeholder="Ex. hattie@kotz.com">
                            </mat-form-field>

                        </div>
                        <div class="shrink">
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input [(ngModel)]="Password" type="password" matInput>
                            </mat-form-field>                    
                            
                        </div>
                        <div class="shrink">
                            <div class="flexRow">
                                <div class="grow"></div>
                                <div class="shrink">
                                    <button mat-button (click)="OnClickLogin()" class="secondary">Log In</button>                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grow"></div>
            </div>
        </div>
        <div class="grow"></div>
    </div>
</div>