
@use "sass:math";
@import 'stylesLayout';
@import 'stylesColors';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    box-sizing: border-box;
  }
  //font classes 0-100
  @for $i from 0 through 100 {
    .f#{$i} {font-size: #{$i}px!important;}
  }
  //font weight 100-800
  @for $i from 1 through 8 {
    .fw#{$i}00 {
      font-weight: $i*100;
    };
  }
  //width classes 0-100
  @for $i from 0 through 100 {
    .w#{$i} {width: percentage(math.div($i, 100));}
  }
  //padding and margins 0-100 by 5;
  $sizeMap:(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,20,25,30,35,36,40,50,55,60,65,70,75,80,85,90,95,100);
  //padding and margin directions;
  $positioningClasses:(
    p:padding,
    pl:padding-left,
    pr:padding-right,
    pb:padding-bottom,
    pt:padding-top,
    m:margin,
    ml:margin-left,
    mr:margin-right,
    mb:margin-bottom,
    mt:margin-top,
    lh:line-height,
    maxH:max-height,
    minH:min-height,
    maxW:max-width,
    minW:min-width,
    top:top,
    bottom:bottom,
    left:left,
    right:right,
    t:top,
    b:bottom,
    l:left,
    r:right
  );
  @each $class, $propertyName in $positioningClasses {
    @each $size in $sizeMap {
      .#{$class}#{$size} {
        #{$propertyName}: #{$size}px;
      }
    }
  }

.secondary
{
    background-color: #E8C6DE!important;
}

.accent
{
    background-color:#E55E27!important;
}

.primary
{
    background-color: #98DFEA!important;   
}

.dark
{
    background-color: #250902!important;
}

